<!DOCTYPE html>
<html lang="en">
  <head>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>King Pong</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../landing.css">
  </head>
  <body>
    <header  style="margin-bottom: 50px">
      <div class="container">
        <div class="row">
          <div class="col">
            <h1>King Pong <i class="fas fa-table-tennis"></i></h1>
          </div>

          <div class="form-row" style="padding-top: 10px;
            font-size: 15px; text-align: right;">
            <div class="col">
              <form class="" action="/session" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="text" class="form-control" name="email" placeholder="Email">
              </div>
              <div class="col">
                <input type="password" class="form-control" name="password" placeholder="Password">
              </div>
              <div class="col">
                <button class="btn btn-primary">Login</button>
              </div>
            </form>
            </div>
        </div>

      <!-- <label>Email</label> <input type="text" name="email"> <label>Password</label> <input type="password" name="password"> <button>Login</button> -->
    </header>


    <main>
      <div class="container">
        <div class="row">
          <div class="col-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>

          <div class="col-4" style="padding-left: 40px;
        font-size: 15px; border-left: 10px rgba(0, 0, 0, 0.2) solid;">
            <form class="form-horizontal register" action="/players" method="post">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <h2>Register</h2>
              <label style="margin-bottom: 0px; margin-top: .9rem;">Name</label>
              <input type="text" name="name" class="col-sm"><br>
              <label style="margin-bottom: 0px; margin-top: .9rem;">Nickname</label>
              <input type="text" name="nickname" class="col-sm">
              <label style="margin-bottom: 0px; margin-top: .9rem;">Email Address</label>
              <input type="email" name="email" class="col-sm">
              <label style="margin-bottom: 0px; margin-top: .9rem;">Password</label>
              <input type="password" name="password" class="col-sm">
              <label style="margin-bottom: 0px; margin-top: .9rem;">Password (Confirm)</label>
              <input type="password" name="password" class="col-sm">
              <label><input type="checkbox" name="">
                I agree to play with extreme awesomeness.</label>
              <input type="submit" value="Sign up" class="btn btn-primary pull-right">
              <div class="clearfix"></div>
              <!-- </form> -->
              <!-- </div> -->
              <!-- <div> <label>Email</label> <input type="text" name="email"> <label>Password</label> <input type="password" name="password"> </div> <div> <label>Name</label> <input type="text" name="name"> <label>Nickname</label> <input type="text"
              name="nickname"> <label>Image</label> <input type="text" name="image"> </div> <button>Create User</button> -->
            </form>
          </div>
        </div>
      </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
