<!-- <h1>King Pong Home</h1> -->

<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-5">King Pong Home</h1>
        <p class="lead">Take a look at your competitors or go straight to the game draw</p>
        <hr class="my-4">
        <div class="row">
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Player Pool</a>
          </p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Game Draw</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      1 of 2
    </div>
    <div class="col-8">
      2 of 2
    </div>
  </div>
</div>
