/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1 {
  color: #0069d9;
  padding-bottom: 20px;
}

.main {
  margin-top: 100px;
  width: 90%;
  text-align: center;
  display: -webkit-flex; /* Safari */
  flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
}

.main .welcomeimage img {
   width: 600px;
   height: 500px;
}

.welcomemain {
  width: 40%;
  float: left;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 20px;
  margin-left: 10%;
}

.fun-msg {
  font-weight: bold;
}

.welcomeimage {
  height: 100%;
  width: 40%;
  float: right;
  object-fit: cover;
  padding-left: 40px;
  border-left: 10px rgba(0, 105, 217, 0.2) solid;
}

.homebutton {
  color: #0069d9;
  font-size: 20px;
  border-radius: 20px;
}

.twitterlist {
	background-color: rgb(29, 202, 255);
	border-radius: 20px;
	font-size: 15px;
	font-style: bold;
  margin: 0 auto;
}

.twitterurl {
	background-color: rgb(29, 202, 255);
	margin-bottom: 0px;
	height: 5%;
}