// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.player-card {
  width: 100%;
  margin-bottom: 3%;
  border-radius: 0.2em;
  float: left;
  transition: .3s;
  text-decoration: none !important;
}

.player-card:hover {
  transform: translateY(-0.4em);
}

.player-card header {
  line-height: 2em;
}

.player-card footer {
  display: flex;
  justify-content: space-between;
}

.card-score {
  float: right;
}

.card-image {
  position: relative;
  max-width: 100%;
  height: auto;
  border: 0;
}
.card-image img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0;
}

.content {
  padding: 1em;
}

.star {
  user-select: none;
  -webkit-user-select: none;
  // position: absolute;
  // display: none;
  top: 5px;
  right: 5px;
  color: silver;
  font-size: 3em;
  cursor: pointer;
  transition: .5s;
  line-height: 1;  
}

.player-card:hover .star {
  display: block;
  color: gold;
}

@media (min-width: 36em) {

  .player-card {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
  }
}

@media (min-width: 66em) {

  .player-card {
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
  }
}

.main-block {
  display: inline-block;
  width: 50%;
}

.main-block img{
  display: block;
  max-width: 100%;
  height: auto;
  border: 0;
}

.side-block {
  display: inline-block;
  width: 40%;
  vertical-align: top;
}

.game-history {
  display: inline-block;
  width: 49%;

}

.comments-block {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}